<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.push.dao.writedao.NanoCheckerDeviceTokenWriteMapper" >
  <resultMap id="BaseResultMap" type="com.push.bean.gen.NanoCheckerDeviceToken" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="deviceToken" property="devicetoken" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, deviceToken
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from NanoCheckerDeviceToken
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.push.bean.gen.NanoCheckerDeviceToken" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into NanoCheckerDeviceToken (deviceToken)
    values (#{devicetoken,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.push.bean.gen.NanoCheckerDeviceToken" useGeneratedKeys="true" keyProperty="id">
    insert into NanoCheckerDeviceToken
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="devicetoken != null" >
        deviceToken,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="devicetoken != null" >
        #{devicetoken,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.push.bean.gen.NanoCheckerDeviceToken" >
    update NanoCheckerDeviceToken
    <set >
      <if test="devicetoken != null" >
        deviceToken = #{devicetoken,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.push.bean.gen.NanoCheckerDeviceToken" >
    update NanoCheckerDeviceToken
    set deviceToken = #{devicetoken,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>