<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.push.dao.writedao.NanoCheckerResultWriteMapper" >
  <resultMap id="BaseResultMap" type="com.push.bean.gen.NanoCheckerResult" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PatientName" property="patientname" jdbcType="VARCHAR" />
    <result column="TestTime" property="testtime" jdbcType="TIMESTAMP" />
    <result column="ItemName" property="itemname" jdbcType="VARCHAR" />
    <result column="Value" property="value" jdbcType="VARCHAR" />
    <result column="Age" property="age" jdbcType="INTEGER" />
    <result column="SampleID" property="sampleid" jdbcType="VARCHAR" />
    <result column="Department" property="department" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PatientName, TestTime, ItemName, Value, Age, SampleID, Department
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from NanoCheckerResult
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.push.bean.gen.NanoCheckerResult" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into NanoCheckerResult (PatientName, TestTime, ItemName, 
      Value, Age, SampleID, 
      Department)
    values (#{patientname,jdbcType=VARCHAR}, #{testtime,jdbcType=TIMESTAMP}, #{itemname,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sampleid,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.push.bean.gen.NanoCheckerResult" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into NanoCheckerResult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientname != null" >
        PatientName,
      </if>
      <if test="testtime != null" >
        TestTime,
      </if>
      <if test="itemname != null" >
        ItemName,
      </if>
      <if test="value != null" >
        Value,
      </if>
      <if test="age != null" >
        Age,
      </if>
      <if test="sampleid != null" >
        SampleID,
      </if>
      <if test="department != null" >
        Department,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientname != null" >
        #{patientname,jdbcType=VARCHAR},
      </if>
      <if test="testtime != null" >
        #{testtime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemname != null" >
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sampleid != null" >
        #{sampleid,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.push.bean.gen.NanoCheckerResult" >
    update NanoCheckerResult
    <set >
      <if test="patientname != null" >
        PatientName = #{patientname,jdbcType=VARCHAR},
      </if>
      <if test="testtime != null" >
        TestTime = #{testtime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemname != null" >
        ItemName = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        Value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        Age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sampleid != null" >
        SampleID = #{sampleid,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        Department = #{department,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.push.bean.gen.NanoCheckerResult" >
    update NanoCheckerResult
    set PatientName = #{patientname,jdbcType=VARCHAR},
      TestTime = #{testtime,jdbcType=TIMESTAMP},
      ItemName = #{itemname,jdbcType=VARCHAR},
      Value = #{value,jdbcType=VARCHAR},
      Age = #{age,jdbcType=INTEGER},
      SampleID = #{sampleid,jdbcType=VARCHAR},
      Department = #{department,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>