<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.push.dao.readdao.NanoCheckerRefReadMapper">
	<resultMap id="BaseResultMap" type="com.push.bean.gen.NanoCheckerRef">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="ItemName" property="itemname" jdbcType="VARCHAR" />
		<result column="Age" property="age" jdbcType="INTEGER" />
		<result column="Min" property="min" jdbcType="REAL" />
		<result column="Max" property="max" jdbcType="REAL" />
		<result column="Reference" property="reference" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, ItemName, Age, Min, Max, Reference
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from NanoCheckerRef
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByPatientId" resultType="com.push.bean.gen.NanoCheckerReport">
		select
		result.PatientName,
		result.Age,
		itemref.ItemId,
		itemref.ItemName,
		result.[Value],
		ref.[Min],
		ref.[Max],
		ref.Reference

		from NanoCheckerRef ref,NanoCheckerResult result,NanoCheckerItemRef itemref
		WHERE
		ref.ItemName=result.ItemName
		and
		ref.ItemName=itemref.ItemId
		and
		result.[Value] BETWEEN ref.[Min] and ref.[Max]
		and
		result.PatientName=#{pname,jdbcType=VARCHAR}
		and
		result.TestTime=#{ptime}
		and
		ref.Age=
		CASE
		WHEN result.Age
		>=75 and result.ItemName='NT-proBNP' THEN 75
		ELSE 0
		END
		order by
		result.PatientName,result.ItemName
	</select>
</mapper>