<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.push.dao.readdao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.push.bean.gen.UserInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="Enabled" property="enabled" jdbcType="BIT" />
    <result column="Gender" property="gender" jdbcType="VARCHAR" />
    <result column="ChineseName" property="chinesename" jdbcType="VARCHAR" />
    <result column="EnglishName" property="englishname" jdbcType="VARCHAR" />
    <result column="Photo" property="photo" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="CompanyEmail" property="companyemail" jdbcType="VARCHAR" />
    <result column="OfficePhone" property="officephone" jdbcType="VARCHAR" />
    <result column="OfficePhoneExt" property="officephoneext" jdbcType="VARCHAR" />
    <result column="HomePhone" property="homephone" jdbcType="VARCHAR" />
    <result column="CellPhone" property="cellphone" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="IdentityCard" property="identitycard" jdbcType="VARCHAR" />
    <result column="Birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="TakeOfficeTime" property="takeofficetime" jdbcType="TIMESTAMP" />
    <result column="LastLoginTime" property="lastlogintime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="DeptID" property="deptid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Name, Email, Password, Enabled, Gender, ChineseName, EnglishName, Photo, 
    QQ, CompanyEmail, OfficePhone, OfficePhoneExt, HomePhone, CellPhone, Address, Remark, 
    IdentityCard, Birthday, TakeOfficeTime, LastLoginTime, CreateTime, DeptID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Users
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Users
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.push.bean.gen.UserInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into Users (`Name`, Email, `Password`, 
      Enabled, Gender, ChineseName, 
      EnglishName, Photo, QQ, 
      CompanyEmail, OfficePhone, OfficePhoneExt, 
      HomePhone, CellPhone, Address, 
      Remark, IdentityCard, Birthday, 
      TakeOfficeTime, LastLoginTime, CreateTime, 
      DeptID)
    values (#{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=BIT}, #{gender,jdbcType=VARCHAR}, #{chinesename,jdbcType=VARCHAR}, 
      #{englishname,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{companyemail,jdbcType=VARCHAR}, #{officephone,jdbcType=VARCHAR}, #{officephoneext,jdbcType=VARCHAR}, 
      #{homephone,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{identitycard,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{takeofficetime,jdbcType=TIMESTAMP}, #{lastlogintime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, 
      #{deptid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.push.bean.gen.UserInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into Users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        `Name`,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="password != null" >
        `Password`,
      </if>
      <if test="enabled != null" >
        Enabled,
      </if>
      <if test="gender != null" >
        Gender,
      </if>
      <if test="chinesename != null" >
        ChineseName,
      </if>
      <if test="englishname != null" >
        EnglishName,
      </if>
      <if test="photo != null" >
        Photo,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="companyemail != null" >
        CompanyEmail,
      </if>
      <if test="officephone != null" >
        OfficePhone,
      </if>
      <if test="officephoneext != null" >
        OfficePhoneExt,
      </if>
      <if test="homephone != null" >
        HomePhone,
      </if>
      <if test="cellphone != null" >
        CellPhone,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="identitycard != null" >
        IdentityCard,
      </if>
      <if test="birthday != null" >
        Birthday,
      </if>
      <if test="takeofficetime != null" >
        TakeOfficeTime,
      </if>
      <if test="lastlogintime != null" >
        LastLoginTime,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="deptid != null" >
        DeptID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="chinesename != null" >
        #{chinesename,jdbcType=VARCHAR},
      </if>
      <if test="englishname != null" >
        #{englishname,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="companyemail != null" >
        #{companyemail,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null" >
        #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="officephoneext != null" >
        #{officephoneext,jdbcType=VARCHAR},
      </if>
      <if test="homephone != null" >
        #{homephone,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="identitycard != null" >
        #{identitycard,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="takeofficetime != null" >
        #{takeofficetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null" >
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.push.bean.gen.UserInfo" >
    update Users
    <set >
      <if test="name != null" >
        `Name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        `Password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        Enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="gender != null" >
        Gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="chinesename != null" >
        ChineseName = #{chinesename,jdbcType=VARCHAR},
      </if>
      <if test="englishname != null" >
        EnglishName = #{englishname,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        Photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="companyemail != null" >
        CompanyEmail = #{companyemail,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null" >
        OfficePhone = #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="officephoneext != null" >
        OfficePhoneExt = #{officephoneext,jdbcType=VARCHAR},
      </if>
      <if test="homephone != null" >
        HomePhone = #{homephone,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        CellPhone = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="identitycard != null" >
        IdentityCard = #{identitycard,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        Birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="takeofficetime != null" >
        TakeOfficeTime = #{takeofficetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null" >
        LastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deptid != null" >
        DeptID = #{deptid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.push.bean.gen.UserInfo" >
    update Users
    set `Name` = #{name,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      `Password` = #{password,jdbcType=VARCHAR},
      Enabled = #{enabled,jdbcType=BIT},
      Gender = #{gender,jdbcType=VARCHAR},
      ChineseName = #{chinesename,jdbcType=VARCHAR},
      EnglishName = #{englishname,jdbcType=VARCHAR},
      Photo = #{photo,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      CompanyEmail = #{companyemail,jdbcType=VARCHAR},
      OfficePhone = #{officephone,jdbcType=VARCHAR},
      OfficePhoneExt = #{officephoneext,jdbcType=VARCHAR},
      HomePhone = #{homephone,jdbcType=VARCHAR},
      CellPhone = #{cellphone,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      IdentityCard = #{identitycard,jdbcType=VARCHAR},
      Birthday = #{birthday,jdbcType=TIMESTAMP},
      TakeOfficeTime = #{takeofficetime,jdbcType=TIMESTAMP},
      LastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      DeptID = #{deptid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>