<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.push.dao.readdao.UserInfoReadMapper" >
  <resultMap id="BaseResultMap" type="com.push.bean.gen.UserInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="Enabled" property="enabled" jdbcType="BIT" />
    <result column="Gender" property="gender" jdbcType="VARCHAR" />
    <result column="ChineseName" property="chinesename" jdbcType="VARCHAR" />
    <result column="EnglishName" property="englishname" jdbcType="VARCHAR" />
    <result column="Photo" property="photo" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="CompanyEmail" property="companyemail" jdbcType="VARCHAR" />
    <result column="OfficePhone" property="officephone" jdbcType="VARCHAR" />
    <result column="OfficePhoneExt" property="officephoneext" jdbcType="VARCHAR" />
    <result column="HomePhone" property="homephone" jdbcType="VARCHAR" />
    <result column="CellPhone" property="cellphone" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="IdentityCard" property="identitycard" jdbcType="VARCHAR" />
    <result column="Birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="TakeOfficeTime" property="takeofficetime" jdbcType="TIMESTAMP" />
    <result column="LastLoginTime" property="lastlogintime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="DeptID" property="deptid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Name, Email, Password, Enabled, Gender, ChineseName, EnglishName, Photo, 
    QQ, CompanyEmail, OfficePhone, OfficePhoneExt, HomePhone, CellPhone, Address, Remark, 
    IdentityCard, Birthday, TakeOfficeTime, LastLoginTime, CreateTime, DeptID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Users
    where ID = #{id,jdbcType=INTEGER}
  </select>
</mapper>